<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Saurav</title>
	<meta name="description" content="Personal site for Saurav, all details from resume to personal work present here">  
	<meta name="author" content="Saurav M. H">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="static/css/base.css">  
   <link rel="stylesheet" href="static/css/main.css">
   <link rel="stylesheet" href="static/css/vendor.css">     

   <!-- script
   ================================================== -->   
	<script src="static/js/modernizr.js"></script>
	<script src="static/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="static/images/favicon.png">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="index.html">Saurav</a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Services</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>			
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>//Hello, World.</h5>
	   			<h1>I'm Saurav.</h1>

	   			<p class="intro-position">
	   				<span>Much more than a Developer</span>
	   				<!-- <span>UI/UX Designer</span> -->
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
		 <li><a href="https://www.github.com/sauravhiremath" target="_blank"><i class="fa fa-github-square"></i></a></li>
         <li><a href="https://www.linkedin.com/in/sauravmh/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
         <li><a href="https://www.instagram.com/sauravv_404/" target="_blank"><i class="fa fa-instagram"></i></a></li>
         <li><a href="https://twitter.com/sauravmh" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let's know mee.</h1>

   			<div class="intro-info">

   				<img src="static/images/profile-pic.jpg" alt="Profile Picture">

   				<p class="lead">Tech enthusiast. Love sketching and designing. Usually am, more than what meets the eye. Love to explore new things. Basically running on coffee, wanna grab one?</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<p>Full Stack Developer, Rookie Data Analyst and a Competitive programmer. Constantly improving my skills, so whatever I write here is already outdated :p. Have some interesting projects? Lets start already!</p>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>Saurav M. Hiremath</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>March 31, 2000</span>
   				</li>
   				<li>
   					<strong>Job:</strong>
   					<span>Student, Full Stack Developer, Competitive Programming</span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<span>www.sauravmh.me</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>vitsaurav@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<p>Learning and trying to gain as much knowledge as possible in these 4 years of engineering. Here is a small glimpse of what I've learnt and mastered so far.</p>

				<ul class="skill-bars">
					<li>
						<div class="progress percent90"><span>90%</span></div>
						<strong>NodeJS</strong>
					</li>
					<li>
						<div class="progress percent95"><span>95%</span></div>
						<strong>MongoDB</strong>
					</li>
					<li>
						<div class="progress percent70"><span>70%</span></div>
						<strong>JQuery</strong>
						</li>
					<li>
						<div class="progress percent95"><span>95%</span></div>
						<strong>Typescript</strong>
					</li>
					<li>
						<div class="progress percent70"><span>70%</span></div>
						<strong>C++</strong>
					</li>
					<li>
						<div class="progress percent100"><span>100%</span></div>
						<strong>Python</strong>
					</li>
					<li>
						<div class="progress percent60"><span>60%</span></div>
						<strong>Flutter</strong>
					</li>
					<li>
						<div class="progress percent80"><span>80%</span></div>
						<strong>HTML5</strong>
					</li>
      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Let's Meet</a>
   			<a href="#" title="Download CV" class="button button-primary">Download CV</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<p class="lead">Well you have already seen what I have accomplished so far. Let's have a look at some more of my past and current achievements. And many more to come...</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>My Projects</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Lead Developer and Event Organizer</h3>
	   					<p>September 2019</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Real Time CTF hosting platform</h4>
	   					<p>Capture the Flag hosting platform, with real-time ranking. Questions hosted on distributed servers to increase security. Made using Node, MongoDB and Redis.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Project Lead</h3>
	   					<p>October, 2018</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Event Management Application</h4>
	   					<p>An application for the event organizers. No more awkward mic announcements. No more mess. Simple UI. Distribute your tasks according to priority. Done</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Project Lead</h3>
	   					<p>September, 2019</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Voice Controlled Educational Portal</h4>
	   					<p>This portal allows students to upload the PDF of their syllabus on the portal. It parses its contents, detects and divides the topics. Through artificial intelligence, it finds the most relevant videos for the topics, and allows the user to control the flow of the platform through voice. Sit back, Relax and Study!</p>
	   				</div>

				   </div> <!-- /timeline-block -->
				   
				   <div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>
 
						<div class="timeline-header">
							<h3>Project Lead</h3>
							<p>July, 2018</p>
						</div>
 
						<div class="timeline-content">
							<h4>Airplane display monitoring system</h4>
							<p>Records the change in values of the display unit. Uses multi-layered denoising theorem to clean out the video contents. Applies Computer Vision, to find and capture various data displayed on the screen, in analog as well as digital form. This ensures the safety of the pilot and the other passengers.
								<br>Source Code:<br>
								<i><a href = "https://github.com/sauravhiremath/Video_Processing">https://github.com/sauravhiremath/Video_Processing</a></i></p>
						</div>
 
					</div> <!-- /timeline-block -->

					<div class="timeline-block">

							<div class="timeline-ico">
								<i class="fa fa-graduation-cap"></i>
							</div>
	 
							<div class="timeline-header">
								<h3>Project Lead</h3>
								<p>July, 2013 - September, 2013</p>
							</div>
	 
							<div class="timeline-content">
								<h4>Plastic Road Construction</h4>
								<p>This was my first project as a 8th std student in Real World. It taught me how to interact with people and also taught me a lot about legal and governmental proceedings. This is till time, my greatest achievement. So, what's the project?
									<br>Are you tired of Potholes. Fed up with plastics everywhere?
									We come to your rescue. Solve both problems with one solution.
									Asphalt and plastic amalgam roads. Clean, durable and eco-friendly. <br>
									We were able to pull this off with <i>1 Lakh funding by India First Life Insurance Company and Maharashtra government and Mumbai police support!</i>
								</p>
							</div>
	 
						</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
	   </div> <!-- /resume-timeline -->
	   <br>
	   <div class="row resume-timeline">

			<div class="col-twelve resume-header">
 
				<h2>My Achievements</h2>
 
			</div> <!-- /resume-header -->
 
			<div class="col-twelve">
 
				<div class="timeline-wrap">
 
					<div class="timeline-block">
 
						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>
 
						<div class="timeline-header">
							<h3>Event Winner</h3>
							<p>September 2018</p>
						</div>
 
						<div class="timeline-content">
							<h4>IEEE Techloop Hack</h4>
							<p>Special Mentions awardee.</p>
						</div>
 
					</div> <!-- /timeline-block -->

					<div class="timeline-block">
 
							<div class="timeline-ico">
								<i class="fa fa-graduation-cap"></i>
							</div>
	 
							<div class="timeline-header">
								<h3>Event Winner</h3>
								<p>October 2018</p>
							</div>
	 
							<div class="timeline-content">
								<h4>RCPC 2018</h4>
								<p>Winner of the event</p>
							</div>
	 
						</div> <!-- /timeline-block -->

					<div class="timeline-block">

							<div class="timeline-ico">
								<i class="fa fa-graduation-cap"></i>
							</div>
		
							<div class="timeline-header">
								<h3>Event Winner</h3>
								<p>October 2019</p>
							</div>
		
							<div class="timeline-content">
								<h4>RCPC 2019</h4>
								<p>Winner of the event. 2 times in a row!</p>
							</div>
		
						</div> <!-- /timeline-block -->
					
					<div class="timeline-block">

							<div class="timeline-ico">
								<i class="fa fa-graduation-cap"></i>
							</div>
		
							<div class="timeline-header">
								<h3>Event Winner</h3>
								<p>September 2019</p>
							</div>
		
							<div class="timeline-content">
								<h4>Hello World 3.0</h4>
								<p>Runner Up of the event. Hackathon organised by Venturesity in collaboration with VIT-University, Vellore.</p>
							</div>
		
						</div> <!-- /timeline-block -->

					<div class="timeline-block">

							<div class="timeline-ico">
								<i class="fa fa-graduation-cap"></i>
							</div>
		
							<div class="timeline-header">
								<h3>Research Paper Publication</h3>
								<p>October, 2019</p>
							</div>
		
							<div class="timeline-content">
								<h4>Sentiment Analysis on Real World Dataset and their Performance Comparision</h4>
								<p>Published a research survey paper as the first author along with 2 other memebers.</p>
							</div>
		
						</div> <!-- /timeline-block -->
				</div> <!-- /timeline-wrap -->   			

			</div> <!-- /col-twelve -->
			
		</div> <!-- /resume-timeline -->
   	<br>
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>B. Tech Degree</h3>
	   					<p>July 2018 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>VIT-University</h4>
	   					<p>Currently studying majors in Computer Science and specilization in Bioinformatics. Published one research paper under the university in October 2019.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>High School</h3>
	   					<p>2004 - 2017</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Thakur Vidya Mandir</h4>
	   					<p>Completed my 1st till 12th grade in the same school. Had shifted to Ryan International School for two years in between, but returned back in 2016.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->

	<!-- services Section
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Services</h5>
   			<h1>My domains of work</h1>

   			<p class="lead">If you have some projects falling under the following domains, hit me up!</p>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

				<div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Web Development</h3>  

		            <p class="desc">Static, dynamic and responsive pages. Ticks for all 3. For my past projects and other work, kindly view the projects section above and be sure to check out my github repository in the top page.
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->

			   <div class="service">	

					<span class="icon"><i class="icon-paint-brush"></i></span>            
  
				  <div class="service-content">	
  
					   <h3>UI/UX Designs</h3>
  
					  <p class="desc">Although a rookie in web and mobile application design. But have completed projects related to designs recently. Will update my design related work soon. But if you have some projects for design don't hesitate. I love designing <3.
					   </p>
					   
				   </div> 	         	 
  
				  </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-chat"></i></span>		            

	            <div class="service-content">

	            	<h3>Machine Learning</h3>

		            <p class="desc">Any projects under Deep Learning and Natural Language Processing is welcome. All the projects realted under artificial intelligence and computer vision are listed above. Also, I having published a research paper on Natural Language Processing - Sentiment Analysis. I am confident enough to undertake projects under NLP or ML.
	        			</p> 

	            </div> 	            	               

			   </div> <!-- /service -->

	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section> <!-- /services -->	


	<!-- stats Section
   ================================================== -->
	<section id="stats" class="count-up">

		<div class="row">
			<div class="col-twelve">

				<div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-pencil-ruler"></i>
						</div>

						<h3 class="stat-count">
							18
						</h3>

						<h5 class="stat-title">
							Projects Completed
						</h5>

					</div> <!-- /stat -->					

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-users"></i>
						</div>

						<h3 class="stat-count">
							13
						</h3>

						<h5 class="stat-title">
							Hacks Participated
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-badge"></i>
						</div>

						<h3 class="stat-count">
							7
						</h3>

						<h5 class="stat-title">
							Awards Received
						</h5>

					</div> <!-- /stat -->									

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-light-bulb"></i>
						</div>

						<h3 class="stat-count">
							13
						</h3>

						<h5 class="stat-title">
							Crazy Ideas
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-cup"></i>
						</div>

						<h3 class="stat-count">
							69
						</h3>

						<h5 class="stat-title">
							Coffee Cups
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-clock"></i>
						</div>

						<h3 class="stat-count">
							420
						</h3>

						<h5 class="stat-title">
							Hours
						</h5>

					</div> <!-- /stat -->

				</div> <!-- /stats-list -->

			</div> <!-- /twelve -->
		</div> <!-- /row -->

	</section> <!-- /stats -->

	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>

   			<p class="lead">So, you either want to offer a project, or you wanna hang out. Under both cases, lets meet up for a coffee! ☕</p>

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="/submit">
      			<fieldset>

                  <div class="form-field">
 						   <input name="name" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                  </div>
                  <div class="form-field">
	      			   <input name="email" type="email" id="contactEmail" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field">
	     				   <input name="subject" type="text" id="contactSubject" placeholder="Subject" value="">
	               </div>                       
                  <div class="form-field">
	                 	<textarea name="message" id="contactMessage" placeholder="Message description" rows="10" cols="50" required=""></textarea>
	               </div>                      
                 <div class="form-field">
                     <button class="submitform">Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>                             
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">            	
            </div>            
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>I got your message, will get back to you soon!<br>
      		</div>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-six tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
            VIT-University,<br>
            Vellore, Tamil Nadu<br>
            632014 India
            </p>

   		</div>

   		<div class="col-six tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>vitsaurav@gmail.com<br>
			   	info@sauravmh.me			     
			</p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-eight tab-full social">

     			<ul class="footer-social">        
					<li><a href="https://www.github.com/sauravhiremath" target="_blank"><i class="fa fa-github-square"></i></a></li>
					<li><a href="https://www.linkedin.com/in/sauravmh/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
					<li><a href="https://www.instagram.com/sauravv_404/" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://twitter.com/sauravmh" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
			   	</ul> 
	      		
	      </div>

		<div id="go-top">
			<a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		</div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="static/js/jquery-2.1.3.min.js"></script>
   <script src="static/js/plugins.js"></script>
   <script src="static/js/main.js"></script>

</body>

</html>